$el-main: #FFFFFF;
$el-aux: #494C6B;
$el-grey: #393A4B;

$text-dim: #757575;

$bg-main: #000000;
$bg-aux: #25273D;

$grad: linear-gradient(135deg, rgba(87, 222, 255, 1) 0%, rgba(192, 89, 243, 1) 100%);

$rad: 5px;
$circle: 50%;