@import "scss/utils/variables";
@import "scss/utils/mixins";

.tasks {
  background-color: $bg-aux;
  border-radius: $rad;

  &__list-item {
    display: flex;
    color: $el-main;
    align-items: center;
    border-bottom: 2px solid $el-grey;
  }

  &__item-value {
    background-color: $bg-aux;
    padding: 1.5em 0;
    width: 100%;
    max-width: 100%;
    word-break: break-all;
  }

  &__counter-wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 $rad $rad ;
    padding: 0.7em 0.7em;
    color: $el-aux;
  }

  &__counter-left {
    padding: 0.5em 0 0.5em .85em;
  }

  &__counter-clear {
    color: inherit;
    padding: 0.5em 0.5em;

    &:hover {
      color: $el-main;
    }
  }

  &__filter-wrapper {
    border-top: 2px solid $el-grey;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: .5em 0;

    [data-filter] {
      padding: .5em .8em;
      color: $el-aux;

      @include desktop {
        padding: .5em 1.2em;
      }

      &:hover {
        color: $el-main;
      }
    }
  }
}
