@import "scss/utils/variables";

#tasks_list {
  background-color: $bg-aux;
  border-radius: $rad;

  .tasks_list__task_item {
    display: flex;
    color: $el-main;
    align-items: center;
    border-bottom: 2px solid $el-aux;
  }

  .task {
    background-color: $bg-aux;
    padding: 1.5em 0;
    width: 100%;
    max-width: 100%;
    word-break: break-all;
  }
}