@import "../utils/variables";

.checkbox {
  background-color: $bg-aux;

  display: flex;
  align-items: center;
  padding: 0 1.2em 0 1.6em;
  border-radius: 5px 0 0 5px;

  .checkbox__label {
    background-color: $bg-aux;
    display: flex;
    border: 2px solid $el-grey;
    border-radius: $circle;
    position: relative;
    &:hover {
      border: 2px solid white;
    }
  }

  .checkbox__default, .checkbox__custom {
    width: 1.35em;
    height: 1.35em;
  }
  .checkbox__default {
    cursor: pointer;
    opacity: 0;

    &:checked ~ .checkbox__custom {
      background-image: $grad;
      &:after {
        display: block;
      }
    }
  }

  .checkbox__custom {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $circle;
    cursor: pointer;
    background-color: $bg-aux;

    &:hover {
      color: $el-main;
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: .45em;
      top: .2em;
      width: .3em;
      height: .6em;
      border: solid $el-main;
      border-width: 0 .2em .2em 0;
      transform: rotate(45deg);
    }
  }
}
