@import "scss/utils/variables";
@import "scss/utils/mixins";

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
  color: $el-main;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;

  @include desktop {
    font-size: 1.8rem;
  }
}

#app {
  background-image: url("assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 17em;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  width: 86.7%;

  @include desktop {
    max-width: 540px;
  }
}

input[type="text"], button{
  padding: 0;
  font: inherit;
  background-color: $bg-aux;
  border: none;
  color: $el-main;
  &::placeholder {
    color: $text-dim;
  }
}

.done {
  text-decoration: line-through $text-dim;
  color: $text-dim !important;
}

.hidden {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////

.aaa {
  background-color: rgba(111, 0, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.bbb {
  /*background-color: greenyellow;*/
  display: flex;
  justify-content: space-evenly;
  /*width: 86%;*/
  /*max-width: 50%;*/
  padding: 1em 2em;
  background-color: rgba(255, 255, 0, 0.4);
}