@import "../utils/variables";
@import "../utils/mixins";

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
  color: $el-main;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  @include desktop {
    font-size: 1.8rem;
  }
}

#app {
  background-image: url("/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 17em;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  width: 86.7%;
  @include desktop {
    max-width: 540px;
  }
}

input[type="text"], button{
  padding: 0;
  font: inherit;
  background-color: $bg-aux;
  border: none;
  color: $el-main;
  &::placeholder {
    color: $text-dim;
  }
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $text-dim !important;
}

#app .done {
  text-decoration: line-through $text-dim;
  color: $text-dim;
}

footer {
  height: 4.8rem;
}