@import "variables";
@import "mixins";

:root {
  font-size: 62.5%;
};

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;

  @include desktop {
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, .8);
  }
}

#app {
  background-image: url("assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 17em;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  width: 86.7%;
  //background-color: rgba(0, 255, 0, .3);

}

input[type="text"], button{
  padding: 0;
  font: inherit;
  background-color: $main-bg;
  border: none;
  color: white;
}