// COLORS VARIABLES
//$font-color: ;
//$body-background: ;

//$color-primary: ;
//$color-primary-shadow: rgba();

//$color-secondary: ;
//$color-secondary-shadow: rgba();

$white: #FFFFFF;
$black: #000000;
$main-bg: #25273D;
$gray: #494C6B;

// FONTS VARIABLES
//$font-primary: ;
//$font-secondary: ;


// DESIGN VARIABLES
//$border-radius: 5px;
//$button-radius: 35px;
//$circle: 50%;